* {
    opacity: 0.9；
}


/*自定义链接样式*/

a {
    transition: all .3s ease-in-out;
    color: #606266;
}

a:hover {
    color: #409EFF;
}


/*自定义下划线样式*/


/*主标题*/

h2 {
    display: block;
    display: block;
    position: relative;
    padding: 10px 0;
    margin: 5px 0;
    color: #409EFF;
    opacity: 0.75;
    transition: opacity .3s linear;
    border-bottom-width: 1.5px;
}

h2:after {
    content: ' ';
    position: absolute;
    width: 70px;
    height: 1.5px;
    background: #409EFF;
    bottom: -1.5px;
    left: 0;
}

h2:hover {
    opacity: 1;
}

h3 {
    color: #409EFF;
}


/*引用和测试*/

blockquote {
    color: #909399;
    border-left-color: #DCDFE6;
    background: #fff;
    opacity: 0.85;
    transition: opacity .3s ease-in-out;
}

blockquote:hover {
    opacity: 1;
}

blockquote.info {
    border-left-color: #1890ff;
    color: #1890ff;
    background: #FFF;
}

blockquote.danger {
    color: #f5222d;
    background: #FFF;
    border-color: #ff4d4f;
}

blockquote.success {
    border-color: #bae637;
    color: #7cb305;
}

blockquote.warning {
    color: #faad14;
    border-color: #faad14;
}

pre {
    background: #fafafa;
}

blockquote[class^="test"] {
    border: solid 1px #F0F0F0;
    border-radius: 5px;
}

blockquote[class^="test"]::before {
    background: #fafafa;
    border-radius: 5px 5px 0 0;
    display: block;
    padding: 10px;
    margin: -5px -5px 5px -15px;
}

blockquote.test {
    border-color: #40a9ff;
}

blockquote.test::before {
    content: '运行结果';
    color: #1890ff;
    background-color: #e6f7ff;
}

blockquote.test-vc {
    border-color: #bae637;
}

blockquote.test-vc::before {
    content: '可能的运行结果(测试环境：VC++6.0)';
    color: #7cb305;
    background-color: #fcffe6;
}

blockquote.test-gpp {
    border: #ffc53d;
}

blockquote.test-gpp::before {
    content: '可能的运行结果(测试环境：g++8.1.0)';
    color: #faad14;
    background-color: #fffbe6;
}

/*表格组件*/

tr {
    border-bottom: solid 1px #f0f0f0;
}

tr:hover td {
    background-color: #fafafa;
}

td,
th {
    padding: 10px 5px;
    border: 0;
}

td {
    transition: background .3s ease-in-out;
}

th {
    color: #909399;
}